body {
  margin: 0;
  background: black;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.circle {
  width: 200px;
  height: 200px;
  border: 5px solid green;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: fade 2s forwards;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
